.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fade-in 2s;
}

.portal {
  margin-top: 50px;
  height: 15%;
  width: 15%;
  margin-bottom: 150px;
}

.gh-image {
  height: auto;
}

.page-title {
  font-family: "Times New Roman";
  font-size: 36pt;
  font-weight: bolder;
  margin-top: 3%;
}

.proj-display {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 6%;
  margin-bottom: 6%;
}

.proj-display:first-of-type {
  margin-top: 0%;
}

.proj-title {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: flex-start;
  margin-top: 5%;
  font-size: 32pt;
  font-weight: bolder;
  background-color: #cecece;
}

.proj-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.proj-gif {
  max-width: 60%;
  aspect-ratio: auto;
}

.desc-text {
  font-family: "Trebuchet MS";
  font-size: 20pt;
  margin-left: 2%;
  margin-right: 2%;
  min-width: 40%;
}

.img-col {
  display: flex;
  flex-direction: column;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
