.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fade-in 2s;
}

.portal {
  margin-top: 50px;
  height: 15%;
  width: 15%;
}

.gh-image {
  height: auto;
}

.proj-display {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 6%;
  margin-bottom: 6%;
}

.proj-title {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: flex-start;
  margin-top: 5%;
  font-size: 32pt;
  font-weight: bolder;
}

.proj-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.proj-gif {
  height: 110%;
  aspect-ratio: auto;
}

.desc-text {
  font-family: "Trebuchet MS";
  font-size: 20pt;
  margin-left: 2%;
  margin-right: 2%;
}

.img-col {
  display: flex;
  flex-direction: column;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
