.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Landing-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}

.Games-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}

.Banner {
  display: flex;
  flex-direction: column;
  height: 28%;
  width: 100%;
  background-color: #3e3cd2;
  justify-content: center;
  align-items: center;
}

.Showcase {
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 100%;
  align-items: flex-start;
  justify-content: space-evenly;
}

.Showcase-container {
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 60%;
  align-items: center;
  justify-content: space-evenly;
}

.Nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: blue;
  height: 100%;
  width: 20%;
}

.Page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.Portal {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 44vh;
  width: 18vw;
  color: #b0b0b6;
  margin-left: 2px;
  margin-right: 2px;
}

.Portal-title {
  font-size: 30px;
}

.Banner-title {
  font-size: 10vh;
  color: white;
  margin-bottom: 1px;
}

.Banner-subtitle {
  font-size: 4vh;
  color: white;
  margin-top: 3px;
}

.Description {
  display: flex;
  height: 25%;
  width: 100%;
  flex-direction: column;
  background-color: #b0b0b6;
  justify-content: center;
  align-items: center;
}

.Description-text {
  font-size: 30px;
}

.Page-setter {
  color: #ececec;
  font-family: "Times New Roman";
  font-size: 2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @keyframes Big {
  from {
    height: 44vh;
    width: 18vw;
  }
  to {
    height: 48vh;
    width: 22vw;
  }
} */
